<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ "/css/exam1.css" | prepend: site.baseurl }}">
  <link href='http://fonts.googleapis.com/css?family=Roboto:900,500,900italic,400italic,100,700italic,300,700,500italic,100italic,300italic,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>

<body>
  <div class="wrapper">
    {{ content }}
  </div>
</body>

</html>
