---
layout: default
---
<div class="post">

  <div class="section-header">
    <div class="wrapper grid">

      <div class="[ section-header__sidemenu ] [ grid__item  desk-two-twelfths visuallyhidden--lap visuallyhidden--palm ] ">
        <ul>

          {% for link in page.metalinks %}
          <li>
            <span class="highlight">
              {{ link.main-label }}
            </span>

          </li>

          {% for childLink in link.child-links %}
          <li>
            <a href="{{ childLink.link }}" class="highlight">
            {{ childLink.name }}
            </a>
          </li>
          {% endfor %}

          {% endfor %}

        </ul>
      </div><!--

       --><div class="[ grid__item desk-ten-twelfths ]">
        <h1 class="section-header__title">
          {{ page.title }}
          <!-- <small>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</small> -->
        </h1>
      </div>

    </div>
  </div>

  <article class="[ post--content ] [ wrapper grid ]">
    <div class="[ grid__item push--desk-two-twelfths desk-ten-twelfths ]">
        {{ content }}
    </div>
  </article>

</div>
